*{
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #AED4DA;


}

h1 {
  text-align: center;
  color: #553AA8;
}

p{
  width: 40%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;

}

#app img{
  width: calc(90% / 3);
  height: auto;
  padding: 10px;
  display: inline-block;
  border-radius: 10%;

}

#app{
  width: 80%;
  height: auto;
  margin: 0 auto;

}
