*{
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #509388;


}


#app img{
  width: calc(90% / 3);
  height: auto;
  padding: 10px;
  display: inline-block;

}

#app{
  width: 80%;
  height: auto;
  margin: 0 auto;

}
